
.nav-item{
    margin-left: 35px;
}
.btn1{
    margin-left: 30px;
    max-width: 100%;
}
.text1 {
    margin-top: 150px;
    margin-left: 150px;
    color: grey;
  }

  #text2 {
    color: rgba(195, 89, 8, 0.584);
    font-size: 35px;
    margin-left: 150px;
  }

  .text3 {
    margin-left: 150px;
    color: grey;
  }

  .btn2 {
    margin-left: 150px;
  }
  #img1{
    height: 500px;
    max-width: 100%;
  }
  #text4{
    color: rgba(195, 89, 8, 0.584);
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;

  }
  #text5{
    font-size: 17px;
    margin-left: 360px;
    margin-right: 360px;
    color: grey;
  }
  #bold1 {
    font-weight: bold;
    margin-left: 130px;
    font-family: 8px;
}
#img3 {
    height: 300px;
    width: 450px;
    padding: 20px;
    margin-top: 50px; 
}
.btn3{
    width: 300px;
    border: none;
    margin-left: 70px;
}
#text6{
    text-align: center;
    font-size: 16px;
    margin-left: 79px;
    margin-right: 79px;
    color: grey;
}
#img4{
  width: 350px;
  height: 450px;
  margin-top: 50px;
}
#pral{
text-align: center;
border: 1px solid rgba(128, 128, 128, 0.323);
margin-top: 50px;
font-size: 12px;
font-weight: bold;
padding: 10px;
margin-left: 0px;
margin-right: 0px;
color: grey;

}
#img5 {
height: 300px;
width: 500px;
margin-top: 50px;
margin-left: 220px;

}

#text7 {
color: rgb(82, 76, 76);
margin-top: 50px;
font-size: 20px;
margin-left: 80px;
color: grey;;

}

#text8 {
font-size: 30px;
margin-left: 80px;
color: grey;;
}

.text9 {
margin-left: 80px;
margin-right: 300px;
color: grey;
font-size: 14px;
letter-spacing: 0.13px;
}
#img6{
height: 300px;
width: 368px;
margin-top: 50px;
margin-left: 0px;
margin-right: 0px;
padding: 0px;
}
.text10 {
text-align: center;
margin-left: 90px;
color: grey;
}
.text12{
margin-left: 60px;
text-align: center;
font-size: 17px;

}
.img{
margin-left: 130px;
margin-top: 80px;
}
#text11 {
font-size: 25px;
margin-top: 120px;
text-align: center;
margin-left: -500px;
}

#img7 {
margin-left: 550px;
height: 115px;
max-width: 15%;
margin-top: 100px;
}
.pral{
width:50%;
margin-top:100px
}
.rtext1{
font-size: 50px;
margin-top: 100px;
margin-left: 70px;

}
.rtext2{
margin-left: 70px;
font-size: 18px;

}
.rtext3{
margin-left: 70px;
font-size: 22px;
margin-top: 20px;

}
.rtext4{
margin-left: 70px;

}
.img8 {
max-width: 100%;
margin-top: 100px;
margin-left: -12px;
}
.img9{
  height: 300px;
  width: 100%;
}
.card{
  margin-left: 100px;
  margin-top: 100px;
 
}
h5{
  font-size: 20px;
}
.card-text{
  font-size: 15px;
  margin-left: 30px;
  color: grey;

}
.card-title{
  margin-left: 30px;
}
.card-body{
  margin-top: 40px;
}
#img10{
  margin-top: 200px;
  margin-left: 350px;
}
#img11{
  margin-top: 200px;
  margin-left: 200px;
}
#img12{
  margin-top: 200px;
  margin-left: 30px;
}
.text13{
  text-align: center;
  color: grey;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 15px;

}
.text13{
  text-align: center;
  font-size: 13px;
  font-size: 15px;
  margin-top: 15px;
}
.text15{
  color: grey;
  margin-left: 250px;
  margin-right: -50px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}
.text16{
  color: grey;
  margin-right: 250px;
  margin-left: -50px;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}
.text14{
  font-size: 13px;
  margin-left: 330px;
}
.text17{
  font-size: 13px;
  margin-left: 160px;
}
.text18{
  font-size: 13px;
  margin-left: 30px;
}
.img13{
  height: 500px;
  margin-top: 100px;
}
.text19{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 100px;
}
.text20, .text22{
  text-align: center;
}
.text21{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 100px;

}
.text23{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 100px;

}
.img14{
  margin-top: 100px;
}
.col-lg-5{
  margin-top: 100px;
  margin-left: -12px;
}
.text24{
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 70px;
}
.text25{
  color: white;
  font-size: 30px;
  margin-left: 70px;

}
.text26{
  margin-left: 70px;
  color: white;
}
.form{
  margin-left: 70px;
}
.text27{
  text-align: center;
  color: gray;
}
.text28{
  margin-left: 50px;
  margin-top: 500px;
}
.text29{
  margin-left: 90px;
}
.material-icons, .icons1{
  margin-left: 90px;
  margin-top: 100px;
}
.map{
  margin-top: 100px;
}
.img15{
  margin-left: 630px;
  margin-top: 50px;
}
.text30{
  margin-left: 100px;
  color: grey;
}
.text31{
  color: grey;
}
.content1,.content2,.content3 {
  position: relative;
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(5, 5, 5, 0.788); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 72%; /* Full width */
  height: 250px;
  padding: 20px; /* Some padding */
  margin-top: -380px;
  text-align: center;
}
h2{
  color: rgb(208, 139, 11);
  font-weight: lighter;
}
.content1{
  margin-left: 185px;
}
.content2{
  margin-left: 90px;
}.content3{
  margin-left: -20px;
}
@media only screen and (max-width:320px){
  .carousel-inner img{
    height: 300px;

  }
  #slide{
    height: 350px;
  }
     
    .text1 {
        margin-top: 150px;
        margin-left: 0px;
        font-size: 15px;
      }
  
      #text2 {
        color: rgba(195, 89, 8, 0.584);
        margin-left: 0px;
      }
  
      .text3 {
        margin-left: 0px;
      }
  
      .btn2 {
        margin-left: 0px;
      }
      #img1{
        height: 200px;
        max-width: 100%;
        margin-top: -100px;
      }
      #bold1 {
        font-weight: bold;
        margin-left: 60px;
        font-family: 8px;
    }
    #img3 {
        height: 270px;
        margin-top: 50px; 
        margin-left: 40px;
    }
    #img4{
      margin-left: 10px;
      margin-right: 10px;
    }
    .btn3{
        width: 250px;
        border: none;
        margin-left: 30px;
    }
    #text6{
        text-align: center;
    }
    .text9 {
      margin-left: 15px;
      margin-right: 5px;
      color: #707070;
      font-size: 17px;
      letter-spacing: 0.13px;
    }
    #pral{
      text-align: center;
      width: 1000px;
    }
    .text10 {
      text-align: center;
      margin-left: 90px;
    }
    .text12{
      margin-left: 40px;
      font-size: 15px;
      margin-right: 30px;

    }
    .img{
      margin-left: 130px;
      margin-top: 80px;
    }
    #img7 {
      margin-left: 50px;
      height: 130px;
      max-width: 50%;
      margin-top: 100px;
    }
    #text11 {
      font-size: 25px;
      margin-top: 120px;
      text-align: center;
      margin-left: 100px;
      
    }
    .pral{
      width:100%;
      margin-top:100px;
      margin-left: 0px;
      height: 650px;
    }
    .rtext1{
      font-size: 30px;
      margin-top: 100px;
      margin-left: 70px;

    }
    .rtext2{
      margin-left: 10px;
      font-size: 18px;

    }
    .rtext3{
      margin-left: 10px;
      font-size: 22px;
      margin-top: 20px;

    }
    .rtext4{
      margin-left: 10px;

    }
    #img10{
      margin-left: 100px;

    } 
    #img11{
      margin-left: 50px;

    } 
    #img12{
      margin-left: 50px;
    }  
    .text13{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;
    }
    .text15{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;

    }
    .text16{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;
    }
    .text14{
      margin-left: 40px;
    }
    .text17{
      margin-left: 40px;
    }
    .text18{
      margin-left: 40px;


    }
    
}
@media only screen and (max-width:768px) {
    .carousel-inner img{
        height: 600px;
    }  
    .text1 {
        margin-top: 100px;
        margin-left: 10px;
      }
  
      #text2 {
        color: rgba(195, 89, 8, 0.584);
        font-size: 35px;
        margin-left: 10px;
      }
  
      .text3 {
        margin-left: 10px;
      }
  
      .btn2 {
        margin-left: 10px;
      }
      #img1{
        height: 500px;
        margin-top: 100px;
        max-width: 100%;
      }
      #text4{
        color: rgba(195, 89, 8, 0.584);
        font-size: 30px;
        font-weight: bold;
      }
      #text5{
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
        margin-right: 0px;
      }
      #bold1 {
        font-weight: bold;
        margin-left: 40px;
        font-family: 8px;
        font-size: 15px;
    }
    #img3 {
        height: 240px;
        width: 240px;
        padding: 25px;
        margin-top: 50px; 
        
    }
    .btn3{
        width: 180px;
        border: none;
        margin-left: 40px;
    }
    #text6{
        text-align: center;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #pral{
      text-align: center;
      border: 1px solid rgba(128, 128, 128, 0.323);
      width: 120px;
      margin-top: 50px;
      font-size: 12px;
      font-weight: bold;
      color: rgb(128, 123, 123);
      padding: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }
    #img5 {
      height: 250px;
      width: 350px;
      margin-top: 50px;
      margin-left: 20px;

    }

    #text7 {
      color: rgb(82, 76, 76);
      margin-top: 50px;
      font-size: 20px;
      margin-left: 15px;
      margin-right: 10px;
      color: #707070
      ;
    
    }

    #text8 {
      font-size: 30px;
      margin-left: 15px;
      margin-right: 10px;
      color: #707070
      ;
    }

    .text9 {
      margin-left: 15px;
      margin-right: 5px;
      color: #707070;
      font-size: 15px;
      letter-spacing: 0.13px;
    }
    #img6{
      height: 300px;
      width: 368px;
      margin-top: 20px;
      margin-left: 0px;
      margin-right: 0px;
      padding: -20px;
    }
    .text10 {
      text-align: center;
      margin-left: 120px;
    }
    .text12{
      margin-left: 60px;
      text-align: center;

    }
    .img{
      margin-left: 160px;
      margin-top: 80px;
    }
    #img7 {
      margin-left: 160px;
      height: 115px;
      max-width: 30%;
      margin-top: 100px;
    }
    #text11 {
      font-size: 25px;
      margin-top: 120px;
      text-align: center;
      margin-left: -200px;
    }
    .img8 {
      max-width: 100%;
      margin-top: 0px;
      margin-left: -12px;
    }
    .img9{
      height: 350px;
      width: 350px;
    }
    .pral{
      width: 100%;
      margin-top:100px;
      margin-left: 0px;
      height: 650px;
    }
    .rtext1{
      font-size: 50px;
      margin-top: 100px;
      margin-left: 70px;

    }
    .rtext2{
      margin-left: 70px;
      font-size: 18px;

    }
    .rtext3{
      margin-left: 70px;
      font-size: 22px;
      margin-top: 20px;

    }
    .rtext4{
      margin-left: 70px;

    }
    .card{
      margin-left: 10px;
      margin-top: 50px;

     
    }
  
    .card-text{
      font-size: 15px;
      margin-left: 80px;
      color: grey;
    
    }
    .card-title{
      margin-left: 80px;
    }
    .card-body{
      margin-top: 70px;
    }
    #img10{
      margin-left: 50px;

    } 
    #img11{
      margin-left: 50px;

    } 
    #img12{
      margin-left: 50px;
    }  
    .text13{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;
    }
    .text15{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;

    }
    .text16{
      margin-left: 8px;
      margin-right: 0px;
      font-size: 14px;
    }
    .text14{
      margin-left: 40px;
    }
    .text17{
      margin-left: 40px;
    }
    .text18{
      margin-left: 40px;
    }
    .text19{
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      margin-top: 100px;
   
    }
    .img14{
      margin-left: 0px;
      margin-right: 0px;
    }
    .img15{
      margin-left: 300px;
    }
    .img13{
      height: 1000px;
    }
    .text30{
      margin-left: 200px;
    }
    .text31{
      margin-left: 200px;
      margin-top: 20px;
    }
    .col-lg-5{
      margin-top: 0px;
      margin-left: -12px;
    }
    .content1{
      margin-left: 20px;
      margin-right: 20px;
      width: 90%;
      margin-top: -900px;

    }
    .content2{
      margin-left: 20px;
      margin-right: 20px;
      width: 90%;
      margin-top: -620px;

    }.content3{
      margin-left: 20px;
      margin-right: 20px;
      width: 90%;
      margin-top: -340px;


    }
   
}


